table {
    margin: 20px 0;
    width: 50%;
    border-collapse: collapse;
}

table th{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
}
table td{
    text-align: center;
    font-size: 17px;
}
table,
th,
td {
    border: 1px solid #000;
}

button#addBtn{
    background-color: rgb(46, 150, 219);
    border-radius: 5px;
}

button#remBtn{
    background-color: rgb(247, 38, 38);
    border-radius: 5px;
}